<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'machong/css/user.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>ユーザー情報</h1>
        </div>
        <form action="{% url 'machong:create' %}" method="post">
            {% csrf_token %}
            <div class="content">
                <div class="user">
                    <div class="user__name">
                        <h2>ユーザー名</h2>
                        <input type="text" name="user_name" id="search" placeholder="田中花子">
                    </div>
                    <div class="user__gender">
                        <h2>性別</h2>
                        <input type="radio" name="gender" placeholder="男性" value="man">男性
                        <input type="radio" name="gender" placeholder="女性" value="uman">女性
                    </div>
                    <div class="user__type">
                        <h2>目的</h2>
                        <input type="radio" name="purpose" value="macho">マッチョ
                        <input type="radio" name="purpose" value="diet">ダイエット
                    </div>
                    <div class="user__class">
                        <h2>クラス</h2>
                        <input type="radio" name="level" value="under">初心者
                        <input type="radio" name="level" value="middle">中級者
                        <input type="radio" name="level" value="top">上級者
                    </div>
                    <div class="user__time">
                        <h2>時間</h2>
                        <select name="time">
                            <option value="1">10分</option>
                            <option value="2">30分</option>
                            <option value="3">60分</option>
                        </select><br>
                    </div>
                    <div>
                        <input type="text" name="email">LineアカウントのURL
                    </div>
                    <div class="user__submit">
                        <input type="submit" value="登録">
                    </div>
                </div>
            </div>
        </form>
</body>
</html>